label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400 !important;
}

/* .dropdown {
  text-decoration: none;
  color: #869099;
}

.dropdown:hover {
  text-decoration: none;
  color: #47b9c1;
}

.dropdown .round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);  
}

.dropdown-item {
  padding: 6px;
  margin: 0px;
}

.dropdown-item:hover {
  background-color: #47b9c1 !important;
  color: #fff;
}

.dropdown-sub {
  background-color: #c3c8cd;
  text-decoration: none;
  color: #869099;
} */

.offcanvas {
  width: 35% !important;
}



.bg-light-info {
  background-color: #ebeaeda2 !important;
}
.bg-light-info
.rounded-circle-info {
  border-radius: .2rem;
  border-color: #bda3f5;
  background-color: #bda3f5;
  overflow: hidden; 
  padding: .6rem;
  visibility: visible;
  text-align: center;
  margin: .3rem;
}
.bg-light-info
.rounded-circle-info
.text-info {
  color: #9c7fdb !important;
}
.bg-light-info
.bg-info {
  background-color: #9c7fdb !important;
}



.bg-light-success {
  background-color: #e8fff3!important;
}
.bg-light-success
.rounded-circle-success {
  border-radius: .2rem;
  border-color: #a4e7c2;
  background-color: #a4e7c2;
  overflow: hidden; 
  padding: .6rem;
  visibility: visible;
  text-align: center;
  margin: .3rem;
}


.bg-light-danger {
  background-color: #fff5f8!important;
  border-color: #faefc5;
  border-radius: .2rem;
  overflow: hidden; 
  padding: .6rem;
  visibility: visible;
  text-align: center;
  margin: .3rem;
}
.bg-light-danger 
.text-danger {
  color: #fe9fb7 !important;
}


/* .bg-light-info {
  background-color: #f8f5fe!important;
}
.bg-light-info 
.rounded-circle-info {
  border-radius: .2rem;
  border-color: #faefc5;
  background-color: #feeeae;
  overflow: hidden; 
  padding: .6rem;
  visibility: visible;
  text-align: center;
  margin: .3rem;
} */


/* .bg-light-warning {
  background-color: #fff8dd!important;
} */
/* .bg-light-warning 
.rounded-circle-warning {
  border-radius: .2rem;
  border-color: #faefc5;
  background-color: #feeeae;
  overflow: hidden; 
  padding: .6rem;
  visibility: visible;
  text-align: center;
  margin: .3rem;
} */



.bullet {
  display: inline-block;
  border-radius: 6px;
  width: 8px;
  height: 4px;
  flex-shrink: 0
}

.bullet-dot {
  width: 8px;
  height: 8px;
  border-radius: 100%!important
}

.bullet-vertical {
  width: 4px;
  height: 8px;
}

.bg-success {
  --bg-color: 80,205,137;
}

.bg-danger {
  --bg-color: 241,65,108;
}

.h-6px {
  height: 6px!important;
}

.h-20px {
  height: 20px!important;
}

.h-40px {
  height: 40px!important;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.sidebar {
  min-width: 100% !important;
  max-width: 100% !important;
  border-right: 0 !important;
}

.sidebar-dark-secondary .nav-sidebar > 
.nav-item > 
.nav-link.active, .sidebar-light-secondary 
.nav-sidebar > 
.nav-item > 
.nav-link.active {
  background-color: #354052;
  color: #fff;
} 

.badge {
  margin: 3px;
}

.badge-light-success {
  color: #50cd89;
  background-color: #e8fff3;
}

.badge-light-success-border {
  color: #50cd89;
  background-color: #e8fff3;
  border: solid 1px #aafdd0;
}

.badge-light-primary {
  color: #009ef7;
  background-color: #f1faff;
}

.badge-light-warning {
  color: #ffc700;
  background-color: #fff8dd;
}

.badge-light-danger {
  color: #f1416c;
  background-color: #fff5f8;
}

.badge-light-danger-border {
  color: #f1416c;
  background-color: #fff5f8;
  border: solid 1px #fadfe7;
}

.bg-light-warning-border {
  /* color: #ffc700; */
  background-color: #fff8dd!important;
  border: solid 1px #faefc5;
}

.rounded-circle-warning {
  border-radius: .2rem;
  border-color: #faefc5;
  background-color: #feeeae;
  overflow: hidden; 
  padding: .6rem;
  visibility: visible;
  text-align: center;
  margin: .3rem;
}


.bg-light-info-border {
  background-color: #ebeaeda2 !important;
  border: solid 1px #e7dcfd;
}

.rounded-circle-info {
  border-radius: .2rem;
  border-color: #bda3f5;
  background-color: #bda3f5;
  overflow: hidden; 
  padding: .6rem;
  visibility: visible;
  text-align: center;
  margin: .3rem;
}

.text-info {
  color: #9c7fdb !important;
}

.bg-info {
  background-color: #9c7fdb !important;
}

.bg-warning, .bg-warning > a {
  color: #fff !important;
}

.dashboard-card {
  height: 500px;
  background-color: hsla(210, 60%, 98%, 0.461);
  border: solid 2px hsla(210, 4%, 91%, 0.795);
}

.dashboard-card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fbfcfe;
  border-bottom: 0 solid transparent;
}

.card-element {
  cursor: pointer!important;
}

.card-small-element {
  cursor: pointer!important;
  background-color: rgb(248, 248, 248)!important;
}

.timeline-item-title {
  font-size: small !important;
}

.card {
  border-style: solid;
  border-top-width: 6px !important;
  border-right-width: 2px !important; 
  border-bottom-width: 2px !important;
  border-left-width: 2px !important; 
  box-shadow: 0 0 2rem 0 rgba(53,64,82,.1);
  
  .room {
    background: #d9e3f3 !important;
    border-color: #a6c1ed !important;
    cursor: pointer !important;
  }

  .restaurent {
    background: #d9d0e8 !important;
    border-color: #c2aee4 !important;
    cursor: pointer !important;
  }

  .service {
    background: #cdebd4 !important;
    border-color: #abe1b8 !important;
    cursor: pointer !important;
  }

  .miscellanious {
    background: #f9efdf !important;
    border-color: #fae4a3 !important;
    cursor: pointer !important;
  }

  .focus {
    border-color: #bcdffb !important;  
    cursor: pointer !important;
  }

  .active {
    border-color: #2396f0 !important;
    cursor: pointer !important;
  }
}

.offcanvas {
  background: #fafbfc !important;

  .restaurent{
    background: #d9d0e8 !important;
    border-color: #c2aee4 !important;
  }

  .service {
    background: #cdebd4 !important;
    border-color: #abe1b8 !important;
  }

  .miscellanious{
    background: #f9efdf !important;
    border-color: #fae4a3 !important;
  }

  .card {
    border-style: solid;
    border-top-width: 6px !important;
    border-right-width: 2px !important; 
    border-bottom-width: 2px !important;
    border-left-width: 2px !important; 
    box-shadow: 0 0 2rem 0 rgba(53,64,82,.1);
    
    .room {
      background: #d9e3f3 !important;
      border-color: #a6c1ed !important;
      cursor: pointer !important;
    }
  
    .restaurent {
      background: #d9d0e8 !important;
      border-color: #c2aee4 !important;
      cursor: pointer !important;
    }
  
    .service {
      background: #cdebd4 !important;
      border-color: #abe1b8 !important;
      cursor: pointer !important;
    }
  
    .miscellanious {
      background: #f9efdf !important;
      border-color: #fae4a3 !important;
      cursor: pointer !important;
    }
  
    .focus {
      border-color: #bcdffb !important;  
      cursor: pointer !important;
    }
  
    .active {
      border-color: #2396f0 !important;
      cursor: pointer !important;
    }
  }
  



}


.header-text {
  color:#354052;
}

.scrollable {
  overflow: auto;
}


/* customization of ag-grid */
.grid {
  flex: 1 1 0px;
  width: 100%;
  height: 300px;
}

.grid-height-100 {
  flex: 1 1 0px;
  width: 100%;
  height: 100px;
}

.grid-height-150 {
  flex: 1 1 0px;
  width: 100%;
  height: 150px;
}

.grid-height-200 {
  flex: 1 1 0px;
  width: 100%;
  height: 200px;
}

.grid-height-300 {
  flex: 1 1 0px;
  width: 100%;
  height: 300px;
}

.grid-height-400 {
  flex: 1 1 0px;
  width: 100%;
  height: 400px;
}

.ag-theme-alpine {
  --ag-border-style: solid !important;
  --ag-border-width: 1px !important;
  --ag-border-color: #ced4da !important;
  --ag-border-radius: 4px !important;
}


.ag-lock-pinned {
  background: #ddd;
  text-align: left;
}

.ag-lock-pinned .right{
  text-align: right;
}

.ag-row-pinned {
  background: #ddd;
  color: #ff5622;
  padding: 0px !important;
  margin: 0px !important;
  font-weight:600;
}

.ag-row-pinned_other {
  background: #f8f8f8 !important;
  color: #000 !important;
  font-weight:600;
}

.ag-row-pinned_total {
  background: #ddd !important;
  color: #ff5622 !important;
  font-weight:600;
}

.ag-row-order {
  background-color: rgb(250, 206, 206) !important;
}

.ag-row-delivery {
  background-color: rgb(206, 247, 175) !important;
}

.paid {
  background-image: url("../img/photos/paid.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
}
