label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400 !important;
}

.dropdown {
  text-decoration: none;
  color: #869099;
  /* height: 16px;
  width: 16px; */
}

.dropdown:hover {
  text-decoration: none;
  color: #47b9c1;
}

.dropdown .round {
  /* background-color: #c3c8cd; */
  /* border-width: 5px; */
  /* border-radius: 50%; */
  /* border-color: #c3c8cd; */
  /* border-width: 5px; */
  /* border: solid 5px #c3c8cd; */

  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);  
}

.dropdown-item {
  padding: 6px;
  margin: 0px;
}

.dropdown-item:hover {
  background-color: #47b9c1 !important;
  color: #fff;
}

.dropdown-sub {
  background-color: #c3c8cd;
  text-decoration: none;
  color: #869099;
}


.sidebar {
  min-width: 100% !important;
  max-width: 100% !important;
  border-right: 0 !important;
}

.sidebar-dark-secondary .nav-sidebar > 
.nav-item > 
.nav-link.active, .sidebar-light-secondary 
.nav-sidebar > 
.nav-item > 
.nav-link.active {
  background-color: #354052;
  color: #fff;
} 

.badge {
  margin: 3px;
}

.card-element {
  cursor: pointer!important;
}

.card-small-element {
  cursor: pointer!important;
  background-color: rgb(248, 248, 248)!important;
}

.border {
  background: #e9ecef !important;
  border-color: #d6dbe0 !important;
  border-style: solid;
  border-top-width: 6px !important;
  border-right-width: 2px !important; 
  border-bottom-width: 2px !important;
  border-left-width: 2px !important; 
  box-shadow: 0 0 2rem 0 rgba(53,64,82,.1);
  cursor: pointer !important;
}

.border-room {
  background: #e9ecef !important;
  border-color: #fcb0a3 !important;
  border-style: solid;
  border-top-width: 6px !important;
  border-right-width: 2px !important; 
  border-bottom-width: 2px !important;
  border-left-width: 2px !important; 
  box-shadow: 0 0 2rem 0 rgba(53,64,82,.1);
  cursor: pointer !important;
}

.border-primary {
  border-color: #bcdffb !important;
}

.border-info {
  border-color: #2396f0 !important;
}

.header-text {
  color:#354052;
}


/* customization of ag-grid */
.grid {
  flex: 1 1 0px;
  width: 100%;
  height: 300px;
}

.grid-height-400 {
  flex: 1 1 0px;
  width: 100%;
  height: 400px;
}

.ag-theme-alpine {
  --ag-border-style: solid !important;
  --ag-border-width: 1px !important;
  --ag-border-color: #ced4da !important;
  --ag-border-radius: 4px !important;
}


.ag-lock-pinned {
  background: #ddd;
  text-align: left;
}

.ag-lock-pinned .right{
  text-align: right;
}

.ag-row-pinned {
  background: #ddd;
  color: #ff5622;
  padding: 0px !important;
  margin: 0px !important;
  font-weight:600;
}

.ag-row-pinned_other {
  background: #f8f8f8 !important;
  color: #000 !important;
  font-weight:600;
}

.ag-row-pinned_total {
  background: #ddd !important;
  color: #ff5622 !important;
  font-weight:600;
}

.ag-row-order {
  background-color: rgb(250, 206, 206) !important;
}

.ag-row-delivery {
  background-color: rgb(206, 247, 175) !important;
}

.paid {
  background-image: url("../img/photos/paid.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
}
